/* ------------------------------- c-header ------------------------------- */
.c-header {
  .c-header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
  }

  .c-header__back {
    cursor: pointer;
  }

  .c-header__title {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    color: $pink;
  }
}
