<!--<div class="wrapper-expose wrapper-expose__document-wrapper">-->
<!--  <main class="container-expose">-->
<!--    <section class="section-expose">-->
<!--      <article class="section-expose__card-expose card-expose">-->
<!--      </article>-->
<!--    </section>-->
<!--  </main>-->
<!--</div>-->

<!--Would be wrapper-landing, container-landing, section-landing, etc-->
<div class="verdari-wrapper">
  <app-navigation-menu></app-navigation-menu>

  <div id="art">
    <section>
      <div class="header-verdari">
        <img
          class="verdari-diamondz-logotype-mob"
          src="/assets/images/verdari-img/Diamond-logo-mob.svg"
        />
        <img
          class="verdari-diamondz-logotype"
          src="/assets/images/verdari-img/diamond.svg"
        />

        <img
          class="verdari-diamondz-text-mob"
          src="/assets/images/verdari-img/Verdari-diamondz-text-mob1.svg"
        />

        <img
          class="verdari-diamondz-text"
          src="/assets/images/verdari-img/verdari-diamondz-text.svg"
        />
      </div>

      <div>
        <app-carousel> </app-carousel>
      </div>

      <p class="verdari-diamodz--text space-text">
        Exclusive benefits await: Verdari Diamondz<br />
        Limited edition – only 1000 collectibles will be available!
      </p>
    </section>
  </div>

  <app-breaker></app-breaker>

  <div class="verdari-about-container" id="creationstory">
    <div class="verdari-container">
      <section class="verdari-section">
        <div class="info-container gap-0 flex-diamonds">
          <div class="left">
            <img
              class="verdari-diamondz-text"
              src="/assets/images/verdari-img/diamond1.svg"
            />

            <img
              class="verdari-diamondz-text-mob"
              src="/assets/images/verdari-img/diamond1mob.svg"
            />
          </div>

          <div class="right">
            <h3 class=" verdari-title-55">Only available <br> with Early Access!</h3>
            <ul class="verdari-list">
              <li class="verdari-marker">
                You have the chance to secure one of the 1000 unique Digital
                Collectibles.
              </li>
              <li class="verdari-marker">
                You gain access 24 hours ahead of everyone else.
              </li>
              <li class="verdari-marker">
                You participate in the mega giveaway worth more than $2000.
              </li>
            </ul>

            <button class="btn-verdari">Uncover the Diamondz Power</button>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="verdari-container" id="utility">
    <section class="verdari-section">
      <img
        class="verdari-diamondz-text-mob"
        src="/assets/images/verdari-img/Diamondz-utility-mob2.svg"
      />

      <img
        class="verdari-diamondz-text"
        src="/assets/images/verdari-img/Diamondz-utility.svg"
      />

      <!--<p class="verdari-diamodz--text utility-subtitle">Why own a Verdari Diamond?</p>-->

      <app-textbox></app-textbox>
    </section>
  </div>

  <app-breaker-green></app-breaker-green>

  <div class="verdari-container" id="about">
    <section class="verdari-section">
      <div
        class="verdari-container diamonds-container flex-diamonds verdari-text-align verdari-about-container"
      >
        <div class="left">
          <video width="520" height="930" controls class="video-mob-version">
            <source src="" type="video/mp4" />
          </video>
        </div>

        <div class="right">
          <h3 class="verdari-title-55">
            <span style="color: #3afe14">Unlock exclusive <br> benefits</span>
            and Experience <br> the Verdari Diamondz <br> with Early Access!
          </h3>
          <ul class="verdari-list">
            <li class="verdari-marker">
              Remarkable and exclusive hand-drawn artwork
            </li>
            <li class="verdari-marker">
              Exclusive VIP access to Dani’s Discord
            </li>
            <li class="verdari-marker">
              A special gift for all Diamondz holders from Dani
            </li>
            <li class="verdari-marker">
              Become a creator – Learn the skills & tools
            </li>
            <li class="verdari-marker">
              Opportunities to win fantastic prizes
            </li>
            <li class="verdari-marker">
              Stay tuned for many more exciting updates!
            </li>
          </ul>

          <button class="btn-verdari">Secure your spot now</button>
        </div>
      </div>

      <div class="info-container flex-dani">
        <div class="left">
          <img
            class="verdari-diamondz-text"
            src="/assets/images/verdari-img/About-Dani.svg"
          />

          <img
            class="verdari-diamondz-text-mob"
            src="/assets/images/verdari-img/About-Danimob.svg"
          />
          <p class="verdari-diamodz--text verdari-text-align">
            Content creator Dani Verdari firmly believes that a hero resides in
            every one of us, just waiting to be discovered. Having grown a
            community of over 7.9 million subscribers, Dani has learned that
            creativity is the key to unlocking our deep potential and connecting
            people.<br /><br />
            Dani has partnered with giants like Netflix, Uber, Disney, Google,
            Amazon, YouTube, and Adobe. She is excited to show her collaboration
            knowledge to her next big project - Digital collectibles inspired by
            our inner heroes.
          </p>
        </div>
        <div class="right">
          <img
            class="verdari-diamondz-text"
            src="/assets/images/verdari-img/Dani-Picture.svg"
          />

          <img
            class="verdari-diamondz-text-mob"
            src="/assets/images/verdari-img/Dani-Picturemob.svg"
          />
        </div>
      </div>
    </section>
  </div>

  <app-breaker></app-breaker>

  <div class="verdari-container">
    <section class="verdari-section">
      <img
        class="verdari-diamondz-text new-design-set"
        src="/assets/images/verdari-img/Dani-Partnerships.svg"
      />
      <img
        class="verdari-diamondz-text-mob"
        src="/assets/images/verdari-img/Dani-Partnershipsmob.svg"
      />
    </section>
  </div>

  <div class="partner-carousel">
    <app-partner-carousel></app-partner-carousel>
  </div>

  <div class="verdari-container">
    <section class="verdari-section">
      <div class="partner-block">
        <img
          class="verdari-diamondz-text new-design-set"
          src="/assets/images/verdari-img/Known-from.svg"
        />

        <img
          class="verdari-diamondz-text-mob"
          src="/assets/images/verdari-img/Known-frommob.svg"
        />

        <div class="dani-social-media">
          <div class="soc-med">
            <img src="/assets/images/verdari-img/soc1.svg" />
          </div>
          <div class="soc-med">
            <img src="/assets/images/verdari-img/soc2.svg" />
          </div>
          <div class="soc-med">
            <img src="/assets/images/verdari-img/soc3.svg" />
          </div>
          <div class="soc-med">
            <img src="/assets/images/verdari-img/soc4.svg" />
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-breaker></app-breaker>

  <div class="verdari-container">
    <section class="verdari-section">
      <img
        class="verdari-diamondz-text new-design-set"
        src="/assets/images/verdari-img/Daniandfriends.svg"
      />

      <img
        class="verdari-diamondz-text-mob"
        src="/assets/images/verdari-img/Daniandfriendsmob.svg"
      />

      <div class="block-dani">
        <div class="verdari-mob-img">
          <img
            style="width: 100%"
            src="/assets/images/verdari-img/mob-collage.svg"
          />
        </div>

        <div class="images-wrapper">
          <img
            class="stars-size-right"
            src="/assets/images/verdari-img/Stars.svg"
          />

          <div class="images-collage">
            <img
              class="collage-size"
              src="/assets/images/verdari-img/collage.png"
            />
            <img
              class="collage-com-size"
              src="/assets/images/verdari-img/collage-comments.png"
            />

            <img
              class="stars-size-left"
              src="/assets/images/verdari-img/Stars3.svg"
            />
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-breaker-green></app-breaker-green>

  <div class="verdari-container" id="team">
    <section>
      <img
        class="verdari-diamondz-text-mob"
        src="/assets/images/verdari-img/Our-team-mob.svg"
      />

      <img
        class="verdari-diamondz-text"
        src="/assets/images/verdari-img/Our-team-text.svg"
      />
      <div class="team-blocks">
        <div class="team-block">
          <img
            class="team--img-mob"
            src="/assets/images/verdari-img/dani.svg"
          />
          <h3 class="team-title">
            Dani<br />
            Verdari
          </h3>

          <p class="verdari-text-size20">Creator</p>
        </div>

        <div class="team-block">
          <img
            class="team--img-mob"
            src="/assets/images/verdari-img/Matti.png"
          />
          <h3 class="team-title">
            Matti<br />
            Levesque
          </h3>
          <p class="verdari-text-size20">Brand manager</p>
        </div>

        <div class="team-block">
          <img
            class="team--img-mob"
            src="/assets/images/verdari-img/elena.svg"
          />
          <h3 class="team-title">
            Elena<br />
            Nazaroff
          </h3>
          <p class="verdari-text-size20">CCO</p>
        </div>

        <div class="team-block">
          <img
            class="team--img-mob"
            src="/assets/images/verdari-img/puro.svg"
          />
          <h3 class="team-title">Puro</h3>
          <p class="verdari-text-size20">Artist / Designer</p>
        </div>

        <div class="team-block">
          <img
            class="team--img-mob"
            src="/assets/images/verdari-img/alex.svg"
          />
          <h3 class="team-title">Alex Galert</h3>
          <p class="verdari-text-size20">CTO</p>
        </div>
      </div>
    </section>
  </div>

  <app-breaker-green></app-breaker-green>

  <div class="verdari-container" id="faq">
    <section class="verdari-section">
      <img
        class="verdari-diamondz-text-mob"
        src="/assets/images/verdari-img/Question-answer-mob.svg"
      />

      <img
        class="verdari-diamondz-text"
        src="/assets/images/verdari-img/Question-answer-text.svg"
      />

      <app-accordion></app-accordion>
    </section>
  </div>

  <section class="verdari-section">
    <div class="verdari-container"><app-footer></app-footer></div>
  </section>
</div>
