<div class="verdari-parent">
    <div class='brands verdaris-carousel' id="brands-carousel">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/001.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/002.png">
        </div>
        <div class='slide-content'>
           <img src="/assets/images/verdari-img/003.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/004.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/005.png">
        </div>
        <div class='slide-content'>
           <img src="/assets/images/verdari-img/006.png">
        </div>
    </div>
    <div class='brands verdaris-carousel' id="brands-carousel2">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/001.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/002.png">
        </div>
        <div class='slide-content'>
           <img src="/assets/images/verdari-img/003.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/004.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/005.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/006.png">
        </div>            
    </div>
        
    <div class='brands verdaris-carousel' id="brands-carousel3">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/001.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/002.png">
        </div>
        <div class='slide-content'>
           <img src="/assets/images/verdari-img/003.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/004.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/005.png">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/006.png">
        </div>            
    </div>    
</div>    
