   
    <div class="verdari-parent">
    <div class='brands verdaris-carousel' id="brands-carousel">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t1.svg">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t2.svg">
        </div>
        
       <div class='slide-content'>
            <img src="/assets/images/verdari-img/t3.svg">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t4.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t5.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t6.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t7.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t8.svg">
        </div>
        
    </div>
    <div class='brands verdaris-carousel' id="brands-carousel2">
       <div class='slide-content'>
            <img src="/assets/images/verdari-img/t1.svg">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t2.svg">
        </div>
        
       <div class='slide-content'>
            <img src="/assets/images/verdari-img/t3.svg">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t4.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t5.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t6.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t7.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t8.svg">
        </div>         
    </div>
        <div class='brands verdaris-carousel' id="brands-carousel3">
       <div class='slide-content'>
            <img src="/assets/images/verdari-img/t1.svg">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t2.svg">
        </div>
        
       <div class='slide-content'>
            <img src="/assets/images/verdari-img/t3.svg">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t4.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t5.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t6.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t7.svg">
        </div>
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/t8.svg">
        </div>         
    </div>
</div>    