<div class="breaker-parent">
    <div class='brands breakers-carousel' id="brands-carousel">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
    </div>
    
    <div class='brands breakers-carousel' id="brands-carousel2">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
    </div>
    
    <div class='brands breakers-carousel' id="brands-carousel3">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
    </div>
    
    <div class='brands breakers-carousel' id="brands-carousel4">
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
        <div class='slide-content'>
            <img src="/assets/images/verdari-img/Rectangle1.png">
        </div>
        
    </div>
    
    
   
 
    </div>