<header class="c-header">
  <div class="c-header__container container">
    <div (click)="back()" class="c-header__back">
      <img src="/assets/images/icons/arrow-back.svg" alt="" />
    </div>
    <div class="c-header__title">Back</div>
  </div>
</header>
<main class="s-terms">
  <div class="s-terms__container container">
    <h1>Terms & Conditions</h1>
    <p>
      These Terms & Conditions ("Agreement") govern your participation in the
      sale of Verdari Diamondz (the "digital collectible") offered by Cr3ate
      Future FZC-LLC. ("Company"), registered in the United Arab Emirates. By
      participating in the early sale, you agree to be bound by these terms.
    </p>
    <ul>
      <li>
        Eligibility: - Participation is not eligible to individuals to purchase
        any Digital Collectibles if you are a citizen, national, resident (tax
        or otherwise), domiciliary, and/or green card holder of a geographic
        area or country (i) where it is likely that the sale of Verdari Diamondz
        would be construed as the sale of a security (howsoever named),
        financial service or investment product and/or (ii) where participation
        in token sales are prohibited by applicable law, decree, regulation,
        treaty, or- administrative act; and to this effect you agree to provide
        all such identity verification document when requested in order for the
        relevant checks to be carried out who meet the eligibility criteria
        outlined by the Company. Participants must comply with all applicable
        laws and regulations.
      </li>
      <li>
        Sale Period: - The sale period, including start and end dates, will be
        clearly communicated by the Company. Participants must contribute during
        this specified timeframe.
      </li>
      <li>
        Contribution: - Participants may contribute in Fiat money and
        cryptocurrency, as specified by the Company. The contribution amount and
        any associated terms are defined on the website.
      </li>
      <li>
        Token Distribution: - The Company will communicate the distribution
        timeline and process. Tokens will be distributed to eligible
        participants upon the Token Generation Event.
      </li>
      <li>
        Token Lock-Up: - Any lock-up period for the distributed tokens, if
        applicable, will be clearly communicated. Participants must adhere to
        the specified lock-up conditions.
      </li>
      <li>
        Refunds: - Contributions are non-refundable, except as otherwise
        expressly stated in this Agreement or required by applicable law.
      </li>
      <li>
        Regulatory Compliance:- Participants are responsible for ensuring
        compliance with relevant regulations in their jurisdiction. The Company
        reserves the right to refuse contributions from jurisdictions where
        participation may be prohibited or restricted.
      </li>
      <li>
        Risks:- Participants acknowledge and understand the risks associated
        with the sale, including market fluctuations, regulatory changes, and
        technical risks. The Company is not liable for any losses incurred.
      </li>
      <li>
        Governing Law:- This Agreement shall be governed by and construed in
        accordance with the laws of the United Arab Emirates without regard to
        its conflict of law principles.
      </li>
      <li>
        Amendments:- The Company reserves the right to amend these terms at any
        time. Participants will be notified of any changes, and continued
        participation implies acceptance of the amended terms.
      </li>
      <li>
        Miscellaneous:- Any notices or communications related to this Agreement
        will be sent to the contact information provided by the participant.
      </li>
    </ul>
    <p>
      By participating in the sale, you confirm that you have read, understood,
      and agreed to these Terms of Service. If you do not agree to these terms,
      refrain from participating in the sale.
    </p>
    <p>Cr3ate Future FZC-LLC dba Verdari Diamondz</p>
    <p>January 1, 2024</p>
  </div>
</main>
