<section class="nav-bar">

<section>
    <img class="verdari-logo" src="/assets/images/icons/Diamond-logo-green.svg">
    
</section>    
    
    
<section class="verdari-anchor">
    
    <li class="verdari-anchor-links">
    <a class="verdari-anchor-link" href="#art">art</a>
    <a class="verdari-anchor-link" href="#utility">Utility</a>
    <a class="verdari-anchor-link" href="#creationstory">Creation story</a>
    <a class="verdari-anchor-link" href="#about">about</a>
    <a class="verdari-anchor-link" href="#team">team</a>
    <a class="verdari-anchor-link" href="#faq">faq</a>
    </li>
</section>
    

<section class="social-media-links">
<div><img class="social-media-link" src="/assets/images/verdari-img/akar-icons_x-fill.svg"></div>    
<div><img class="social-media-link" src="/assets/images/verdari-img/ic_sharp-discord.svg"></div> 
<img class="verdari-logo-mob" src="/assets/images/icons/Diamond-logo-green.svg">
<div><img class="social-media-link" src="/assets/images/verdari-img/mingcute_youtube-fill.svg"></div>  
<div><img class="social-media-link" src="/assets/images/verdari-img/simple-icons_opensea.svg"></div>  
</section>    
    
</section>
